<div class="card">
  <div class="card-header">
      <h4>Sign up</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group mb-2">
        <%= f.label :email, class:"form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control", placeholder: "Email" %>
      </div>

      <div class="field form-group mb-2">
        <%= f.label :password, class:"form-label" %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "form-control", placeholder: "Password" %>
      </div>

      <div class="field form-group mb-2">
        <%= f.label :password_confirmation, class:"form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", placeholder: "Password Confirmation" %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col col-1" style="padding-top: 8px; padding-left:50px">
         <i class="fas fa-exclamation-triangle fa-2x" style="color:firebrick"></i>
       </div>
       <div class="col col-11">
         <h6>There is a bug in Device Package so you will not redirect to login after register</h6>
         <h6>You will see an error but don't worry just refresh the page and click on the <i style="color:#0d6efd"><b>Log In</b></i> <i style="color:firebrick"><u><b>link</b></u></i> below</h6>
       </div>
    </div>
  </div>
</div>
<br>
<%= render "devise/shared/links" %>

